<!DOCTYPE html>
<html lang="en">
<head>
    @@include("./profile_head_html.html")
    <link rel="stylesheet" href="../../dist/css/profile/index.min.css">
    <script src="../../dist/js/index.min.js"></script>
</head>
<body>

    @@include("../common/header.html")       

    <div class="main" id="profile">
        <div class="wrapper">
            <div class="main-content-wrapper">
                <div class="banner-group" id="banner-group">
                    <ul class="banner-ul" id="banner-ul">
                        <li><a href="#"><img src="../../dist/images/warning-banner-02.png" alt=""></a></li>
                        <li><a href="#"><img src="../../dist/images/python-banner-03.jpg" alt=""></a></li>
                        <li><a href="#"><img src="../../dist/images/hc-banner02.png" alt=""></a></li>
                        <li><a href="#"><img src="../../dist/images/python-banner-02.jpg" alt=""></a></li>
                        <li><a href="#"><img src="../../dist/images/php-blog-banner-02.jpg" alt=""></a></li>
                    </ul>
                    <span class="arrow left-arrow">‹</span>
                    <span class="arrow right-arrow">›</span>
                    <div class="page-control-group">
                        <ul class="page-control">

                        </ul>
                    </div>
                </div>
                <div class="list-outer-group">
                    <ul class="list-inner-group">
                        <li>
                            <div class="thumbnail-group">
                                <a href="./profile_detail_resume01.html"><img src="../../dist/images/Resume-pic.jpeg" alt=""></a>
                            </div>
                            <div class="news-group">
                                <p class="title">
                                    <a href="./profile_detail_resume01.html">個人履歷</a>
                                </p>
                                <p class="desc">
                                    由於牽涉到個資問題，暫時不放入網站，待會用紙張呈現。
                                </p>
                            </div>
                        </li>
                        <li>
                            <div class="thumbnail-group">
                                <a href="./profile_detail_resume02.html"><img src="../../dist/images/hc-pic-01.jpg" alt=""></a>
                            </div>
                            <div class="news-group">
                                <p class="title">
                                    <a href="./profile_detail_resume02.html">專用前端網頁製作工具</a>
                                </p>
                                <p class="desc">
                                    這裡是說明本人所使用的前端網頁製作的工具，會講明哪個作品使用哪個工具。
                                </p>
                            </div>
                        </li>
                        <li>
                            <div class="thumbnail-group">
                                <a href="./profile_detail_resume03.html"><img src="../../dist/images/web-dev-icon.png" alt=""></a>
                            </div>
                            <div class="news-group">
                                <p class="title">
                                    <a href="./profile_detail_resume03.html">完全自學源由</a>
                                </p>
                                <p class="desc">
                                    想要完全自學不是沒有原因的，就算資策會的前端工程師有600課時，但是不代表資策會會教很多。內容文長，如果只想要看重點，只需要要看最後一段落，但是推薦完整看完，因為有了這種群組，我才會有了這樣的今天。
                                </p>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>

            @@include("../common/common_side_wrapper.html")



        </div>
    </div>

    @@include("../common/footer.html")



</body>
</html>