
<!DOCTYPE html>
<html lang="en">
<head>
    @@include('./work_head_html.html')
    <link rel="stylesheet" href="../../dist/css/frontEndWork/frontEndWork_detail.min.css">
</head>
<body>

    @@include("../common/header.html")   

    <div class="main" id="frontEndWork">
        <div class="wrapper">
            <div class="work-wrapper">
                <div class="work-info">
                    <p class="work-title">網路爬蟲</p>
                    <div class="type-group">
                            <span class="type miniature">小型設計</span>
                    </div>
                </div>
                <div class="work-image-show">
                    <img class="work-image" src="../../dist/images/Work-index-sixth.png" alt="">
                </div>
            </div>

            <div class="bottom-wrapper">
                <div class="work-detail-wrapper">
                    <div class="item-group">
                        <p class="item-title">作品介紹</p>
                        <p class="item-content">
                            這是連成徵才會後的展現作品，沒什麼，上圖背景顏色是白色，因為在Word檔案截圖時，沒有注意到Word的背景，不信可以在Chrome的檢查裡，把&lt;img&gt;元素刪掉。而且兼職網路爬蟲可以，但是我想再看看有沒有全職網路爬蟲，多做無補。
                        </p>
                    </div>
                    <div class="item-group">
                        <p class="item-title">作品連結</p>
                        <p class="item-content">
                            這作品在這網站不提供連結，即將關閉。
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    @@include("../common/footer.html")

</body>



