<!DOCTYPE html>
<html lang="en">
<head>
    @@include('./work_head_html.html')
    <link rel="stylesheet" href="../../dist/css/frontEndWork/frontEndWork_index.min.css">
</head>
<body>

    
    @@include("../common/header.html")    

    <div class="main" id="frontEndWork">
        <div class="wrapper">
            <ul class="work-list">
                <li>
                    <a href="./work_detail01.html">
                        <div class="thumbnail-group">
                            <img src="../../dist/images/Work-index-first.png" alt="" class="thumbnail">
                        </div>
                        <div class="work-info">
                            <p class="title">模擬網路商店（電腦端）</p>                            <p class="type-group">
                                <span class="miniature">小型設計</span>
                            </p>
                        </div>
                    </a>
                </li>
                <li>
                    <a href="./work_detail02.html">
                        <div class="thumbnail-group">
                            <img src="../../dist/images/Work-index-second.png" alt="" class="thumbnail">
                        </div>
                        <div class="work-info">
                            <p class="title">模擬網路商店（手機端）</p>
                            <p class="type-group">
                                <span class="miniature">小型設計</span>
                            </p>
                        </div>
                    </a>
                </li>
                <li>
                    <a href="./work_detail03.html">
                        <div class="thumbnail-group">
                            <img src="../../dist/images/Work-index-third.png" alt="" class="thumbnail">
                        </div>
                        <div class="work-info">
                            <p class="title">Bootstarp回應式作品</p>
                            <p class="type-group">
                                <span class="miniature">小型設計</span>
                            </p>
                        </div>
                    </a>
                </li>
                <li>
                    <a href="./work_detail04.html">
                        <div class="thumbnail-group">
                            <img src="../../dist/images/hc-banner-03.png" alt="" class="thumbnail">
                        </div>
                        <div class="work-info">
                            <p class="title">本網站設計</p>
                            <p class="type-group">
                                <span class="project">專案行設計</span>
                            </p>
                        </div>
                    </a>
                </li>
                <li>
                    <a href="./work_detail05.html">
                        <div class="thumbnail-group">
                            <img src="../../dist/images/Work-index-fifth.png" alt="" class="thumbnail">
                        </div>
                        <div class="work-info">
                            <p class="title">台灣旅遊推薦</p>
                            <p class="type-group">
                                <span class="project">專案行設計</span>
                            </p>
                        </div>
                    </a>
                </li>
                <li>
                    <a href="./work_detail06.html">
                        <div class="thumbnail-group">
                            <img src="../../dist/images/Work-index-sixth.png" alt="" class="thumbnail">
                        </div>
                        <div class="work-info">
                            <p class="title">網路爬蟲作品</p>
                            <p class="type-group">
                                <span class="miniature">小型設計</span>
                            </p>
                        </div>
                    </a>
                </li>
                <li>
                    <a href="#"">
                        <div class="thumbnail-group">
                            <img src="../../dist/images/Web-Scraping-eith-Python.png" alt="" class="thumbnail">
                        </div>
                        <div class="work-info">
                            <p class="title">我的作品堅持沒有團隊開發，曾經電腦補習班有發生過因為團隊專題就業結果不一樣而起爭執。</p>
                            <p class="type-group">
                                <span class="miniature">小型設計</span>
                            </p>
                        </div>
                    </a>
                </li>
            </ul>
        </div>
    </div>

    @@include("../common/footer.html")

</body>
</html>