
<!DOCTYPE html>
<html lang="en">
<head>
    @@include('./work_head_html.html')
    <link rel="stylesheet" href="../../dist/css/frontEndWork/frontEndWork_detail.min.css">
</head>
<body>

    @@include("../common/header.html")   

    <div class="main" id="frontEndWork">
        <div class="wrapper">
            <div class="work-wrapper">
                <div class="work-info">
                    <p class="work-title">台灣旅遊推薦(Vue工具)</p>
                    <div class="type-group">
                            <span class="type project">專案型設計</span>
                    </div>
                </div>
                <video class="work-image" controls>
                    <source src="../../dist/videos/FifthWork.mp4" type="video/mp4">
                    Your browser does not support HTML5 video.
                  </video>
            </div>

            <div class="bottom-wrapper">
                <div class="work-detail-wrapper">
                    <div class="item-group">
                        <p class="item-title">作品介紹</p>
                        <p class="item-content">
                            這是個人學Vue時，所設計出來的作品，首頁有兩區Swiper，第一個會自動播放，而且手動切換後不會中斷，第二個是飯店跟旅行社連結區，可以連結到該網址，旅遊推薦是本作品的精華，在左上角按出縣市名稱，按出想要縣市後，立即出現該縣市不同旅遊景點推薦，按查看詳情可以看到景點圖片已經地圖，重點是我沒有用過Google Map Javascript API，這裡使用簡單HTML5格式即可，回上一頁返回到原本位置而不是到頂部。現在用的是打包版的，原程式碼的Github區的名稱是LocaTurTw，已經commit了34次。
                        </p>
                    </div>
                    <div class="item-group">
                        <p class="item-title">作品連結</p>
                        <p class="item-content">
                            <a href="https://alexks150.github.io/UJFRMVTurGuide/#/">Turists' Guide</a>
                        </p>
                        <img src="../../dist/images/FifthWorkQrcode.jpg" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>

    @@include("../common/footer.html")

</body>



