
<!DOCTYPE html>
<html lang="en">
<head>
    @@include('./work_head_html.html')
    <link rel="stylesheet" href="../../dist/css/frontEndWork/frontEndWork_detail.min.css">
</head>
<body>

    @@include("../common/header.html")   

    <div class="main" id="frontEndWork">
        <div class="wrapper">
            <div class="work-wrapper">
                <div class="work-info">
                    <p class="work-title">模擬網路商店（電腦端)</p>
                    <div class="type-group">
                            <span class="type miniature">小型設計</span>
                    </div>
                </div>
                <div class="work-image-show">
                    <img class="work-image" src="../../dist/images/FirstWork01.png" alt="">
                </div>
            </div>

            <div class="bottom-wrapper">
                <div class="work-detail-wrapper">
                    <div class="item-group">
                        <p class="item-title">作品介紹</p>
                        <p class="item-content">
                            前端自學初次作品，學玩立即進入初級實踐項目，這裡有分頂部、Logo、網站導覽、商品販售跟底部設計，目前可以在頂部的登錄選項有超鏈結，但是其他註冊選項沒有超鏈結，首頁這邊的幻燈片有自動播放，滑鼠進去有箭頭出現，移出就消失，每幾秒就換一次幻燈片，下面原點選項是隨著圖片增加或者減少而為之，不會多也不會少，關鍵是這裡有防止用戶暴力操作，不會被猛按而破壞幻燈片的自動運作機制，而個人第一件專案型作品的幻燈片（一開始進來）是傳統幻燈片自動播放，沒有嵌入防止用戶暴力操作，但是不想換掉則是想要讓面試官有比較的地方。
                        </p>
                    </div>
                    <div class="item-group">
                        <p class="item-title">作品連結</p>
                        <p class="item-content">
                            <a href="https://alexks150.github.io/BookStoreIndivTest/index.html">E-commercial Loptap & Desktop computer</a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    @@include("../common/footer.html")

</body>



