
<!DOCTYPE html>
<html lang="en">
<head>
    @@include('./work_head_html.html')
    <link rel="stylesheet" href="../../dist/css/frontEndWork/frontEndWork_detail.min.css">
</head>
<body>

    @@include("../common/header.html")   

    <div class="main" id="frontEndWork">
        <div class="wrapper">
            <div class="work-wrapper">
                <div class="work-info">
                    <p class="work-title">本網站設計</p>
                    <div class="type-group">
                            <span class="type project">專案行設計</span>
                    </div>
                </div>
                <div class="work-image-show">
                    <img class="work-image" src="../../dist/images/hc-banner-03.png" alt="">
                </div>
            </div>

            <div class="bottom-wrapper">
                <div class="work-detail-wrapper">
                    <div class="item-group">
                        <p class="item-title">作品介紹</p>
                        <p class="item-content">
                            這是使用Gulp來設計出複雜多端的頁面，為了應付網站的共通變數的改變，如果有一個要改出來，就是要在全部頁面通通改成某個共通的樣子，例如網頁頂部通通加長，那進入其他頁面就不要沒有改掉。再來是為了後端發長，這件設計可以往後端建設了，只不過本來要用Django來建立後端，但是我看了PHP的Youtube後，想往PHP後面去，這件設計往後可能是我職涯計畫中會用到的設計，但是不會用原來CSS樣式。原程式碼是github區中的InfoTest裡的templates和src，打包到server_page和dist區域。
                        </p>
                    </div>
                    <div class="item-group">
                        <p class="item-title">作品連結</p>
                        <p class="item-content">
                            <a href="#">This whole website</a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    @@include("../common/footer.html")

</body>



