<!DOCTYPE html>
<html lang="en">
<head>
    @@include("./course_html_head.html")
    <link rel="stylesheet" href="../../dist/css/course/course_index.min.css">
</head>
<body>

    
    @@include("../common/header.html")    

    <div class="main" id="course">
        <div class="wrapper">
            <ul class="course-list">
                <li>
                    <a href="">
                        <div class="thumbnail-group">
                            <img src="../../dist/images/Web-Scraping-eith-Python.png" alt="" class="thumbnail">
                        </div>
                        <div class="course-info">
                            <p class="title">Python網路爬蟲</p>
                            <p class="author">紐約時刻</p>
                            <p class="price-group">
                                <span class="free">Free</span>
                            </p>
                        </div>
                    </a>
                </li>
                <li>
                    <a href="">
                        <div class="thumbnail-group">
                            <img src="../../dist/images/Web-Scraping-eith-Python.png" alt="" class="thumbnail">
                        </div>
                        <div class="course-info">
                            <p class="title">Python網路爬蟲</p>
                            <p class="author">紐約時刻</p>
                            <p class="price-group">
                                <span class="free">Free</span>
                            </p>
                        </div>
                    </a>
                </li>
                <li>
                    <a href="">
                        <div class="thumbnail-group">
                            <img src="../../dist/images/Web-Scraping-eith-Python.png" alt="" class="thumbnail">
                        </div>
                        <div class="course-info">
                            <p class="title">Python網路爬蟲</p>
                            <p class="author">紐約時刻</p>
                            <p class="price-group">
                                <span class="free">Free</span>
                            </p>
                        </div>
                    </a>
                </li>
                <li>
                    <a href="">
                        <div class="thumbnail-group">
                            <img src="../../dist/images/Web-Scraping-eith-Python.png" alt="" class="thumbnail">
                        </div>
                        <div class="course-info">
                            <p class="title">Python網路爬蟲</p>
                            <p class="author">紐約時刻</p>
                            <p class="price-group">
                                <span class="free">Free</span>
                            </p>
                        </div>
                    </a>
                </li>
                <li>
                    <a href="">
                        <div class="thumbnail-group">
                            <img src="../../dist/images/Web-Scraping-eith-Python.png" alt="" class="thumbnail">
                        </div>
                        <div class="course-info">
                            <p class="title">Python網路爬蟲</p>
                            <p class="author">紐約時刻</p>
                            <p class="price-group">
                                <span class="free">Free</span>
                            </p>
                        </div>
                    </a>
                </li>
                <li>
                    <a href="">
                        <div class="thumbnail-group">
                            <img src="../../dist/images/Web-Scraping-eith-Python.png" alt="" class="thumbnail">
                        </div>
                        <div class="course-info">
                            <p class="title">Python網路爬蟲</p>
                            <p class="author">紐約時刻</p>
                            <p class="price-group">
                                <span class="free">Free</span>
                            </p>
                        </div>
                    </a>
                </li>

            </ul>
        </div>
    </div>

    @include("../common/footer.html")

</body>
</html>