
<!DOCTYPE html>
<html lang="en">
<head>
    @@include('./work_head_html.html')
    <link rel="stylesheet" href="../../dist/css/frontEndWork/frontEndWork_detail.min.css">
</head>
<body>

    @@include("../common/header.html")   

    <div class="main" id="frontEndWork">
        <div class="wrapper">
            <div class="work-wrapper">
                <div class="work-info">
                    <p class="work-title">Bootstarp回應式作品</p>
                    <div class="type-group">
                            <span class="type miniature">小型設計</span>
                    </div>
                </div>
                <div class="work-image-show">
                    <video class="work-image" controls>
                        <source src="../../dist/videos/ThirdWork.mp4" type="video/mp4">
                        Your browser does not support HTML5 video.
                      </video>
                </div>
            </div>

            <div class="bottom-wrapper">
                <div class="work-detail-wrapper">
                    <div class="item-group">
                        <p class="item-title">作品介紹</p>
                        <p class="item-content">
                            目前沒有特別的目的，只是給面試官明示我個人已經熟悉BootStrap的應用，但是如果我要搭起個人的網路商店，或者是蝦皮網站，都不會想用到Bootstrap的套件，因為手機端使用跟電腦端使用有很大差別，電腦端是輸入單元設備（滑鼠鍵盤）跟輸出單元設備（主要是螢幕），有分別的，但是手機全都是集合在一個螢幕內，所以不特別為了符合各平台而使用Bootstrap，加上裡面的CSS的東西可以直接複製貼上或者研究加以改造，但是我不想使用全程使用Bootstrap的CSS。
                        </p>
                    </div>
                    <div class="item-group">
                        <p class="item-title">作品連結</p>
                        <p class="item-content">
                            <a href="https://alexks150.github.io/ProgramBootstrap/news_show.html">ProgramBootstrap</a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    @@include("../common/footer.html")

</body>



