
<!DOCTYPE html>
<html lang="en">
<head>
    @@include('./work_head_html.html')
    <link rel="stylesheet" href="../../dist/css/frontEndWork/frontEndWork_detail.min.css">
</head>
<body>

    @@include("../common/header.html")   

    <div class="main" id="frontEndWork">
        <div class="wrapper">
            <div class="work-wrapper">
                <div class="work-info">
                    <p class="work-title">模擬網路商店（電腦端)</p>
                    <div class="type-group">
                            <span class="type miniature">小型設計</span>
                    </div>
                </div>
                <div class="work-image-show">
                    <video class="work-image" controls>
                        <source src="../../dist/videos/SecondWork.mp4" type="video/mp4">
                        Your browser does not support HTML5 video.
                      </video>
                </div>
            </div>

            <div class="bottom-wrapper">
                <div class="work-detail-wrapper">
                    <div class="item-group">
                        <p class="item-title">作品介紹</p>
                        <p class="item-content">
                            做完電腦端就是要會設計手機端，這裡是設計手機介面，而且是用rem取代px，用來設計回應式佈局，每個手機介面不同規格大小，可以用Google Chrome的檢查中手機模式來調整大小，幾乎沒有嚴重脫序。
                        </p>
                    </div>
                    <div class="item-group">
                        <p class="item-title">作品連結</p>
                        <p class="item-content">
                            <a href="https://alexks150.github.io/BookMobileTest/tvvedio.html">E-commercial Mobile</a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    @@include("../common/footer.html")

</body>



