<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>職涯計畫</title>
    <script src="../../dist/js/jquery-3.3.1-min.js"></script>
    <script src="../../dist/js/header.min.js"></script>
    <link rel="stylesheet" href="//at.alicdn.com/t/font_1592307_rpge9xynqql.css">
    <link rel="stylesheet" href="../../dist/css/plan/plan_index.min.css">
</head>
<body>

    @@include("../common/header.html")       

    <div class="main" id="search">
        <div class="wrapper">
            <div class="main-content-wrapper">
                <div class="list-outer-group">
                    <div class="plan-images-group">
                        <div class="desc">可以點選圖片的開新分頁或者儲存圖片來放大看看。</div>
                        <img class="job-route" src="../../dist/images/job-route-0214.jpg" alt="">
                        <img class="edu-plan" src="../../dist/images/edu-plan-0214.jpg" alt="">
                    </div>
                </div>
            </div>

            @@include("../common/common_side_wrapper.html")

        </div>
    </div>

    @@include("../common/footer.html")

</body>
</html>