<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="../../dist/css/benefit/benefit_prove.min.css">
    @@include('./benefit_html_head.html')
</head>
<body>

    @@include("../common/header.html")   

    <div class="main" id="benefitInfo">
        <div class="wrapper">
            <div class="main-content-wrapper">
                <img class="prove-pic" src="../../dist/images/Prove01.PNG" alt="">
                <img class="prove-pic" src="../../dist/images/Prove04.PNG" alt="">
                <img class="prove-pic" src="../../dist/images/Prove05.PNG" alt="">
                <img class="prove-pic" src="../../dist/images/Prove06.PNG" alt="">
                <img class="prove-pic" src="../../dist/images/Prove07.PNG" alt="">
                <img class="prove-pic" src="../../dist/images/Prove08.PNG" alt="">
                <img class="prove-pic" src="../../dist/images/Prove09.PNG" alt="">
                <img class="prove-pic" src="../../dist/images/Prove10.jpg" alt="">
            </div>

            @@include("../common/common_side_wrapper.html")

        </div>
    </div>

    @@include("../common/footer.html")

</body>
</html>