<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="../../dist/css/benefit/benefit_prove.min.css">
    @@include('./benefit_html_head.html')
</head>
<body>

    @@include("../common/header.html")   

    <div class="main" id="benefitInfo">
        <div class="wrapper">
            <div class="main-content-wrapper">
                <img class="prove-pic" src="../../dist/images/Prove01.png" alt="">
                <img class="prove-pic" src="../../dist/images/Prove04.png" alt="">
                <img class="prove-pic" src="../../dist/images/Prove05.png" alt="">
                <img class="prove-pic" src="../../dist/images/Prove06.png" alt="">
                <img class="prove-pic" src="../../dist/images/Prove07.png" alt="">
                <img class="prove-pic" src="../../dist/images/Prove09.png" alt="">
                <img class="prove-pic" src="../../dist/images/Prove10.jpg" alt="">
                <img class="prove-pic" src="../../dist/images/prove11.png" alt="">
                <img class="prove-pic" src="../../dist/images/prove12.png" alt="">
                <img class="prove-pic" src="../../dist/images/prove13.png" alt="">
                <img class="prove-pic" src="../../dist/images/prove14.png" alt="">
                <img class="prove-pic" src="../../dist/images/prove15.png" alt="">
                <img class="prove-pic" src="../../dist/images/prove16.png" alt="">
                <img class="prove-pic" src="../../dist/images/prove17.png" alt="">
                <img class="prove-pic" src="../../dist/images/prove18.png" alt="">
                <img class="prove-pic" src="../../dist/images/prove19.png" alt="">
                <img class="prove-pic" src="../../dist/images/prove20.png" alt="">
                <img class="prove-pic" src="../../dist/images/prove21.png" alt="">
                <img class="prove-pic" src="../../dist/images/prove22.png" alt="">
                <img class="prove-pic" src="../../dist/images/prove23.png" alt="">
                <img class="prove-pic2" src="../../dist/images/prove51.png" alt="">
                <img class="prove-pic2" src="../../dist/images/prove52.png" alt="">
            </div>

            @@include("../common/common_side_wrapper.html")

        </div>
    </div>

    @@include("../common/footer.html")

</body>
</html>