<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="../../dist/css/benefit/benefit_prove.min.css">
    @@include('./benefit_html_head.html')
</head>
<body>

    @@include("../common/header.html")   

    <div class="main" id="benefitInfo">
        <div class="wrapper">
            <div class="main-content-wrapper">
                <img class="prove-pic" src="../../dist/images/ITprove01.png" alt="">
                <img class="prove-pic" src="../../dist/images/ITprove02.png" alt="">
                <img class="prove-pic" src="../../dist/images/ITprove03.png" alt="">
                <img class="prove-pic" src="../../dist/images/ITprove04.png" alt="">
                <img class="prove-pic" src="../../dist/images/ITprove05.png" alt="">
                <img class="prove-pic" src="../../dist/images/ITprove06.png" alt="">
                <div class="prove-text"><a href="https://github.com/AlexKS150/VideoLearn/blob/master/VideoList.md">提供Youtube學習程式語言的好去處，語言是英語，點擊此處查看。</a></div>
            </div>

            @@include("../common/common_side_wrapper.html")

        </div>
    </div>

    @@include("../common/footer.html")

</body>
</html>