<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>小飯桌-費用資訊</title>
    <script src="../../dist/js/jquery-3.3.1-min.js"></script>
    <script src="../../dist/js/header.min.js"></script>
    <link rel="stylesheet" href="../../dist/css/payinfo/payinfo_index.min.css">
    <link rel="stylesheet" href="//at.alicdn.com/t/font_1592307_rpge9xynqql.css">
</head>
<body>

    @@include("../common/header.html")   

    <div class="main" id="payinfo">
        <div class="wrapper">
            <div class="main-content-wrapper">
                <div class="banner-group">
                    <!-- <img src="../../images/python-banner-01.jpg" alt="" class="banner"> -->
                    <div class="banner"></div>
                </div>
                <div class="pay-list-group">
                    <ul class="pay-list">
                        <li>
                            <div class="choice-pic"></div>
                            <div class="choice-text">
                                <p class="choice-name">付費名稱區</p>
                                <p class="choice-desc">付費敘述區！付費敘述區！付費敘述區！付費敘述區！付費敘述區！付費敘述區！付費敘述區！付費敘述區！</p>
                            </div>
                        </li>
                        <li>
                            <div class="choice-pic"></div>
                            <div class="choice-text">
                                <p class="choice-name">付費名稱區</p>
                                <p class="choice-desc">付費敘述區！付費敘述區！付費敘述區！付費敘述區！付費敘述區！付費敘述區！付費敘述區！付費敘述區！</p>
                            </div>
                        </li>
                        <li>
                            <div class="choice-pic"></div>
                            <div class="choice-text">
                                <p class="choice-name">付費名稱區</p>
                                <p class="choice-desc">付費敘述區！付費敘述區！付費敘述區！付費敘述區！付費敘述區！付費敘述區！付費敘述區！付費敘述區！</p>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>

            @@include("../common/common_side_wrapper.html")

        </div>
    </div>

    @@include("../common/footer.html")

</body>
</html>