<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>小飯桌</title>
    <script src="../../dist/js/jquery-3.3.1-min.js"></script>
    <script src="../../dist/js/header.min.js"></script>
    <link rel="stylesheet" href="//at.alicdn.com/t/font_1592307_rpge9xynqql.css">
    <link rel="stylesheet" href="../../dist/css/search/search_index.min.css">
</head>
<body>

    @@include("../common/header.html")       

    <div class="main" id="search">
        <div class="wrapper">
            <div class="main-content-wrapper">
                <div class="list-outer-group">
                    <div class="search-group">
                        <div class="search">
                            <input type="text" class="search-text" placeholder="請輸入搜尋名稱">
                            <input type="button" value="搜尋" class="search-btn">
                        </div>
                    </div>
                    <ul class="list-inner-group">
                        <li>
                            <div class="thumbnail-group">
                                <a href="#"><img src="../../dist/images/hc-pic-01.jpg" alt=""></a>
                            </div>

                            <div class="news-group">
                                <p class="title">
                                    <a href="">打造开店人“小红书”， 店鹿获450万天使融资</a>
                                </p>
                                <p class="desc">
                                    敘述敘述敘述敘述敘述敘述敘述敘述敘述敘述敘述敘述敘述敘述敘述敘述
                                </p>
                                <p class="more">
                                    <span class="category">深度報導</span>
                                    <span class="pub-time">1小時前</span>
                                    <span class="author">知了課堂</span>
                                </p>
                            </div>
                        </li>


                        <li>
                            <div class="thumbnail-group">
                                <a href="#"><img src="../../dist/images/python-web-scrapping.jpg" alt=""></a>
                            </div>

                            <div class="news-group">
                                <p class="title">
                                    <a href="">打造开店人“小红书”， 店鹿获450万天使融资</a>
                                </p>
                                <p class="desc">
                                    敘述敘述敘述敘述敘述敘述敘述敘述敘述敘述敘述敘述敘述敘述敘述敘述
                                </p>
                                <p class="more">
                                    <span class="category">深度報導</span>
                                    <span class="pub-time">1小時前</span>
                                    <span class="author">知了課堂</span>
                                </p>
                            </div>
                        </li>
                    </ul>

                    <div class="load-more-group">
                        <button class="load-more">
                            查看更多
                        </button>
                    </div>

                </div>
            </div>

            @@include("../common/common_side_wrapper.html")

        </div>
    </div>

    @@include("../common/footer.html")

</body>
</html>