@import "../common/init.scss";
@import "../common/constants.scss";
@import "../common/header";
@import "../common/footer";
@import "../common/body";


.main{
    .wrapper{
        .main-content-wrapper{
            .list-outer-group{
                background-color: #fff;
                .plan-images-group{
                    .desc{
                        padding-top:20px;
                        text-align: center;
                        font-size: 30px;
                        color:purple;
                    }
                    .job-route{
                        width:100%;
                        border-bottom: purple solid 2px;
                    }
                    .edu-plan{
                        width:100%;
                    }
                }
                
            }
        }
    }
}






