@import "../common/init.scss";
@import "../common/constants.scss";
@import "../common/header";
@import "../common/footer";
@import "../common/body";


.main{
    .wrapper{
        .main-content-wrapper{
            .list-outer-group{
                background-color: #fff;
                .plan-images-group{
                    .desc{
                        text-align: center;
                        font-size: 30px;
                    }
                    .edu-plan{
                        width:100%
                    }
                }
                
            }
        }
    }
}






