<!DOCTYPE html>
<html lang="en">
<head>
    @@include("./news_head_html.html")
    <link rel="stylesheet" href="../../dist/css/news/index.min.css">
    <script src="../../dist/js/index.min.js"></script>
</head>
<body>

    @@include("../common/header.html")       

    <div class="main" id="news">
        <div class="wrapper">
            <div class="main-content-wrapper">
                <div class="banner-group" id="banner-group">
                    <ul class="banner-ul" id="banner-ul">
                        <li><a href="#"><img src="../../dist/images/warning-banner-02.png" alt=""></a></li>
                        <li><a href="#"><img src="../../dist/images/python-banner-01.jpg" alt=""></a></li>
                        <li><a href="#"><img src="../../dist/images/python-banner-03.jpg" alt=""></a></li>
                        <li><a href="#"><img src="../../dist/images/hc-banner02.png" alt=""></a></li>
                        <li><a href="#"><img src="../../dist/images/python-banner-02.jpg" alt=""></a></li>
                        <li><a href="#"><img src="../../dist/images/php-blog-banner-02.jpg" alt=""></a></li>
                    </ul>
                    <span class="arrow left-arrow">‹</span>
                    <span class="arrow right-arrow">›</span>
                    <div class="page-control-group">
                        <ul class="page-control">

                        </ul>
                    </div>
                </div>
                <div class="list-outer-group">

                    <ul class="list-tab">
                        <li class="active"><a href="#">測試專用</a></li>
                        <li><a href="#">測試專用</a></li>
                        <li><a href="#">測試專用</a></li>
                        <li><a href="#">測試專用</a></li>
                        <li><a href="#">測試專用</a></li>
                    </ul>

                    <ul class="list-inner-group">
                        <li>
                            <div class="thumbnail-group">
                                <a href="#"><img src="../../dist/images/hc-pic-01.jpg" alt=""></a>
                            </div>

                            <div class="news-group">
                                <p class="title">
                                    <a href="#">個人履歷</a>
                                </p>
                                <p class="desc">
                                    由於牽涉到個資問題，暫時不放入網站，待會用紙張呈現。
                                </p>
                                <p class="more">
                                    <span class="category">個人履歷</span>
                                    <span class="pub-time">2019/12/22</span>
                                    <span class="author">個人介紹</span>
                                </p>
                            </div>
                        </li>


                        <li>
                            <div class="thumbnail-group">
                                <a href="#"><img src="../../dist/images/python-web-scrapping.jpg" alt=""></a>
                            </div>

                            <div class="news-group">
                                <p class="title">
                                    <a href="">專用套件</a>
                                </p>
                                <p class="desc">
                                    敘述敘述敘述敘述敘述敘述敘述敘述敘述敘述敘述敘述敘述敘述敘述敘述
                                </p>
                                <p class="more">
                                    <span class="category">深度報導</span>
                                    <span class="pub-time">1小時前</span>
                                    <span class="author">知了課堂</span>
                                </p>
                            </div>
                        </li>
                    </ul>

                    <div class="load-more-group">
                        <button class="load-more">
                            查看更多
                        </button>
                    </div>

                </div>
            </div>

            @@include("../common/common_side_wrapper.html")



        </div>
    </div>

    @@include("../common/footer.html")



</body>
</html>