<!DOCTYPE html>
<html lang="en">
<head>
    @include("./news_head_html.html")
    <link rel="stylesheet" href="../../dist/css/news/news_detail.min.css">
</head>
<body>
    @@include("../common/header.html")   

    <div class="main" id="news">
         <div class="wrapper">
             <div class="main-content-wrapper">
                 <div class="news-wrapper">
                     <h1 class="title">川普警告：伊朗不准報復 否則鎖定52處目標猛攻！</h1>
                     <div class="news-info">
                         <div class="info-group">
                             <span class="athour">Nogla</span>
                             <span class="pub-time">2019-12-21</span>
                             <span class="category">國際</span>
                         </div>
                         <div class="share-group">
                             <span>分享至：</span>
                             <a href="#" class="weibo share-item"></a>
                             <a href="#" class="weixin share-item"></a>
                         </div>
                     </div>

                     <article class="article"><img src="https://img.ltn.com.tw/Upload/news/600/2020/01/05/phpegKW9W.jpg" alt="">
                         美國日前擊斃伊朗軍事將領，伊朗揚言報復，總統川普4日透過推特發布新一波對伊朗的威脅，警告伊朗若膽敢攻擊美國人或美國資產，美國將鎖定52處伊朗重要地點進行反擊，包括文化遺址在內。<br>

川普推文說，美國已經鎖定伊朗的52個目標，「代表多年前被伊朗挾持的52名美國人質」。伊朗在1979年人質危機中扣住66名美國人，最終留置52人超過一年。<br>

川普警告，那些目標「對伊朗和伊朗文化的重要性非常之高」。他又說：「那些目標和伊朗本身，將很快且猛烈地遭到痛擊。美國再也不接受威脅！」<br>
                     </article>


                 </div>
                 <div class="comment-wrapper">
                     <h3 class="title">文章評論(0)</h3>
                     <textarea name="comment" class="comment-textarea login-textarea" placeholder="立即登錄，寫下評論。"></textarea>
                     <div class="submit-btn-group">
                         <button class="submit-btn">
                             送出評論
                         </button>
                     </div>

                     <ul class="comment-list">
                         <li>
                             <div class="comment-info">
                                 <img src="../../dist/images/python-icon.png" alt="" class="avatar">
                                 <span class="author">Vanoss</span>
                                 <span class="pub-time">1小時前</span>
                             </div>
                             <div>
                                 <p class="comment-content">這是評論敘述。</p>
                             </div>
                         </li>
                         <li>
                             <div class="comment-info">
                                 <img src="../../dist/images/python-icon.png" alt="" class="avatar">
                                 <span class="author">Vanoss</span>
                                 <span class="pub-time">1小時前</span>
                             </div>
                             <div>
                                 <p class="comment-content">這是評論敘述。</p>
                             </div>
                         </li>
                     </ul>



                 </div>
            </div>

            @@include("../common/common_side_wrapper.html")

         </div>
     </div>

     @include("../common/footer.html")



</body>
</html>
