<footer class="footer">
    <div class="top-group">
        <div class="top-inner-group">
            <div class="logo-box"></div>
            <div class="detail-group">
                <div class="line1">
                    <ul class="links">
                        <li><a href="#">關於小飯桌</a></li>
                        <li><a href="#">創業課堂</a></li>
                        <li><a href="#">尋求報導</a></li>
                        <li><a href="#">創業禮包</a></li>
                    </ul>
                    <div class="about-us">
                        <span class="title">關於我們：</span>
                        <ul class="social-group">
                            <li class="weixin">
                                <div class="wx-qrcode"></div>
                                <span class="text">不是微信</span>
                            </li>
                            <li class="weibo"><a href="#" class="text">不是微博</a></li>
                        </ul>
                    </div>
                </div>
                <div class="line2">
                    <p class="address">地址：台中市台灣大道99號</p>
                    <p class="contact">聯絡方式：04-22289111</p>
                </div>
            </div>
        </div>
    </div>
    <div class="bottom-group">
        ©2020 XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX
    </div>
</footer>