<header class="header">
    <div class="container">
        <div class="logo-box">
            <a href="/"></a>
        </div>
        <ul class="nav" id="header-nav">
            <li><a href="../news/index.html">測試專用</a></li>
            <li><a href="../course/course_index.html">創業課堂</a></li>
            <li><a href="../payinfo/payinfo_index.html">付費資訊</a></li>
            <li><a href="../search/search_index.html">搜索測試用</a></li>
        </ul>
        <div class="auth-box">
            <i class="icon-person iconfont"></i>
            <a href="#">登錄</a> /
            <a href="#">註冊</a>
        </div>
    </div>
</header>




