@import "../common/body.scss";
@import "../common/constants.scss";
@import "../common/footer.scss";
@import "../common/header.scss";
@import "../common/init.scss";

.main{
    .wrapper{
        .main-content-wrapper{
            background:#fff;
            width:795px;
            .prove-pic{
                width:50%;
                float:left;
            }
            .prove-pic2{
                width:100%;
                float:left;
            }
            .prove-text{
                margin:20px 0;
                line-height: 25px;
                text-align: center;
                font-size:18px;
            }

        }
    }
}
