@import "../common/header.scss";
@import "../common/body.scss";
@import "../common/footer";
@import "../common/init";
@import "../common/constants";

.main{
  .wrapper{
    .main-content-wrapper{
      background: #fff;
      padding:20px;
      box-sizing: border-box;

      .profile-wrapper{
        padding:20px;
        .title{
          font-size:24px;
          color:$mainFontColor;
          font-weight: 400;
        }

        .article{
          margin-top:20px;
          line-height: 30px;
        }


      }

    }
  }
}



